.contactHeaderImage {
    background-image: url("../images/menuHeader.jpg");
}

.mainMenu {
    background-color: white;
}

.mainMenu .row .col {
    padding-bottom: 50px;
}

.mainMenu .row .col .nav-tabs {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 768px) {
    .mainMenu .row .col .nav-tabs {
        flex-direction: column;
        align-items: center;
    }
}

.mainMenu .row .col .tab-content {
    min-height: 50vh;
    background-color: white;
    padding: 3%;
}

.mainMenu .row .col .tab-content .foodArea .foodElement .foodName {
    display: flex;
    justify-content: space-between;
}

.mainMenu .row .col .tab-content .foodArea .foodElement .foodDescription {
    font-size: 15px;
}

.mainMenu .row .col .tab-content .foodArea .foodElement .foodDescriptionEng {
    font-size: 14px;
    color: green;
    font-style: italic;
}
