.contactHeaderImage{
    background-image: url("../images/companies.jpg");
}
main{
    padding-bottom: 40px;
    .row{
        background-color: white;
        padding-bottom: 30px;
        .imageToOrder{
          @media all and (max-width:575px){
              order: 1;
            }
            @media all and (min-width: 576px) { 
              order: 1;
            }
            @media all and (min-width: 768px){
              order: 0;
            }
            @media all and (min-width: 992px){
              order: 0;
            }
      }
        .col{
            padding: 15px;
            img{
                width:100%;
                height: 100%;
                border-radius: 3%;
            }
            p{
                @media all and (max-width:575px){
                    font-size: 12px;
                  }
                  @media all and (min-width: 576px) { 
                    font-size: 13px;
                  }
                  @media all and (min-width: 768px){
                    font-size: 14px;
                  }
                  @media all and (min-width: 992px){
                    font-size: 15px;
                  }
             }
             h1{
                @media all and (max-width:575px){
                    font-size: 20px;
                  }
                  @media all and (min-width: 576px) { 
                    font-size: 25px;
                  }
                  @media all and (min-width: 768px){
                    font-size: 30px;
                  }
                  @media all and (min-width: 992px){
                    font-size: 45px;
                  }
             }
             h3{
                @media all and (max-width:575px){
                    font-size: 15px;
                  }
                  @media all and (min-width: 576px) { 
                    font-size: 20px;
                  }
                  @media all and (min-width: 768px){
                    font-size: 25px;
                  }
                  @media all and (min-width: 992px){
                    font-size: 35px;
                  }
             }
          .companiesPoromotions{
             h1{
                 padding-bottom: 10px;
             }
              div{
                  display: flex;
                  align-items: center;
                  margin-bottom: 15px;
                svg{
                    font-size: 2em;
                    
                }
                span{
                   margin-left: 20px;
                }
              }
          }
        }
}
}